@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 1em;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    color: #333;
    padding-bottom: 1em;
    border-bottom: 1px solid #d3d3d3;
    margin: 1em 0em 0em;    
}

.author {
    margin: 0.5em 0em 1.5em;
    font-family: 'Lato', sans-serif;
}
a {
    color: #333;
}

.legend {
    font-family: 'Fira Mono', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
}

.red {
    color: #e06c75;
}
.green {
    color: #98c379;
}
.blue {
    color: #61afef;
}